@font-face {
  font-family: "Cuprum";
  src: url("../font/Cuprum/Cuprum-Regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Indie Flower";
  src: url("../font/IndieFlower/web_fonts/indieflower_regular_macroman/IndieFlower-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
span#covid-19 {
  color: #0070f3;
}

header {
  background: url("/images/background.png") center center no-repeat;
  background-size: cover;
  font-family: "Cuprum", sans-serif;
}
header .container .row:first-child {
  margin-top: 200px;
  width: 100%;
}
header .container a {
  color: #007bff;
  text-decoration: none;
}
header .container a .card {
  cursor: pointer;
}
header .container a .card img {
  width: 200px;
  height: 200px;
}
header .container a:hover {
  color: #0d47a1;
}

header.podcast {
  background: url("/images/background.png") center center no-repeat;
  background-size: cover;
  min-height: 800px;
}

main {
  font-family: "Cuprum", sans-serif;
}
main section#data-kasus .container {
  min-height: 80vh;
}
main section#data-kasus .container .card.bg-merah {
  background-color: #f06292;
}
main section#data-kasus .container .card.bg-hijau {
  background-color: #00e676;
}
main section#data-kasus .container .card.bg-abu {
  background-color: #90a4ae;
}
main section#data-kasus .container .card.bg-biru {
  background-color: #03a9f4;
}
main section#peta-kasus .container {
  min-height: 100vh;
}
main section#peta-kasus .container iframe {
  width: 100%;
  height: 600px;
}
main section#peta-rujukan .container {
  min-height: 100vh;
}
main section#peta-rujukan .container iframe {
  width: 100%;
  height: 600px;
}
main section#tentang-kasus .container {
  min-height: 100vh;
}
main section#pencegahan-kasus .container {
  min-height: 50vh;
}

main.donasi {
  background: url("/images/background.png") center center no-repeat;
  background-size: cover;
  font-family: "Cuprum", sans-serif;
}
main.donasi .card {
  max-width: 600px;
}
main.donasi .card img {
  width: 150px;
  height: 150px;
}

main.radar {
  background: url("/images/background.png") center center no-repeat;
  background-size: cover;
  font-family: "Cuprum", sans-serif;
}
main.radar iframe {
  width: 100%;
  height: 600px;
}

main.self-assessment {
  background: url("/images/background.png") center center no-repeat;
  background-size: cover;
  font-family: "Cuprum", sans-serif;
}
main.self-assessment .card img {
  width: 400px;
}

main.podcast {
  font-family: "Cuprum", sans-serif;
  min-height: 110vh;
}
main.podcast .container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
main.podcast .container .card {
  max-width: 600px;
}

main.game {
  background: url("/images/background.png") center center no-repeat;
  background-size: cover;
  min-height: 800px;
  font-family: "Cuprum", sans-serif;
}
main.game h1 {
  text-align: center;
  font-size: 7rem;
  line-height: 1;
  margin-bottom: 0;
}
main.game #score {
  background: rgba(255, 255, 255, 0.2);
  padding: 0 3rem;
  line-height: 1;
  border-radius: 1rem;
}
main.game .game-area {
  width: 600px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}
main.game .hole {
  flex: 1 0 33.33%;
  overflow: hidden;
  position: relative;
}
main.game .hole:after {
  display: block;
  background: url("/images/dirt.svg") bottom center no-repeat;
  background-size: contain;
  content: "";
  width: 100%;
  height: 70px;
  position: absolute;
  z-index: 2;
  bottom: -30px;
}
main.game .mole {
  background: url("/images/mole.svg") bottom center no-repeat;
  background-size: 60%;
  position: absolute;
  top: 100%;
  width: 100%;
  height: 100%;
  transition: all 0.3s;
}
main.game .hole.up .mole {
  top: 0;
}

footer {
  font-family: "Cuprum", sans-serif;
  width: 100%;
  border-top: 1px solid #eaeaea;
}
footer .container {
  height: 100px;
}

/*# sourceMappingURL=style.css.map */
